{
  "plugins": ["react", "react-native"],
  "extends": ["plugin:react/recommended", "plugin:react-native/all"],
  "rules": {
    "react-native/no-unused-styles": "warn",
    "react-native/split-platform-components": "warn",
    "react-native/no-inline-styles": "off"
  }
}
